<%= render partial: 'layouts/container_top', locals: {h2: 'Sign Up'} %>
<div>
  <div>
    <form method="post" action="/users">
     <label for="email">Email</label>
     <input type="text" name="email" placeholder="enter your flavor <%= @flavor %> email" style="width: 350px"/>
     <label for="email">First Name</label>
     <input type="text" name="fname"/>
     <label for="email">Last Name</label>
     <input type="text" name="lname"/>
     <br/>
     <br/>
     <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
       <input type="submit" value="Create Account" style="font-size: 24px;"/>
       <input type="hidden" name="flavor" value="<%= @flavor%>"/>
    </form>
  </div>
</div>
<%= render partial: 'layouts/container_bottom' %>
