<% BlogController.data.each do |year, v| %>

  <div style="text-align: center">
  <h1><%= year %></h1>
  <br/>
  <br/>
  <% v.each do |month, vv| %>
    <% vv.each do |eek, vvv| %>
      <h2 class="section-heading"><a href="/blog/<%=year%>/<%=month%>/<%=eek%>"><%= vvv[:title] %></a></h2>
      <p> 
      by <%= vvv[:author] %> (<%= month %>)
      </p>
  <br/>
  <br/>
    <% end %>
  <% end %>
  </div>
<% end %>
</div>
