<!DOCTYPE html>
<html>
  <head>
    <title>Railsbasic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>railsbasic</h1>
    <nav class="">
      <ul class="menu">
        <li> 
    <a href="/">home</a>
        </li>
        <li> 
    <a href="/users">users</a>
        </li>
        <li> 
    <a href="/companies">companies</a>
        </li>
        <li> 
      <a href="/blog">blog</a>
        </li>
    <% if current_user %>
        <li>
      <a href="/users/me/edit">settings</a>
        </li>
        <li>
      <%=link_to 'logout', session_path(id: 'me'), method: 'delete' %>
        </li>
    <% end %>
      </ul> 
    </nav> 

    <hr/>

    <% if flash[:notice] %>
      <div style="font-weight: bold; padding: 10px; border: 2px solid red;"><%= flash[:notice] %></div>
      <hr/>
    <% end %>

    <%= yield %>

    <div style="border-top: 1px solid #cecece; margin: 150px 0 0 0; text-align: center; font-size: 14px;">
      <br/>
      &copy; <%= Time.now.year %>
      <a href="https://github.com/andrewarrow/railsbasic">https://github.com/andrewarrow/railsbasic</a>
    </div>
  </body>
</html>
