<!DOCTYPE html>
<html>
  <head>
    <title>Railsbasic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<style>
header { background-image: url('<%= asset_url(User.ran_img) %>'); }
</style>
  </head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">railsbasic</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li> 
                    <a href="/">home</a>
                  </li>
                  <li> 
                    <a href="/users">users</a>
                  </li>
                  <li> 
                    <a href="/companies">companies</a>
                  </li>
                  <li> 
                    <a href="/blog">blog</a>
                  </li>
                  <% if current_user %>
                    <li>
                      <a href="/users/me/edit">settings</a>
                    </li>
                    <li>
                      <%=link_to 'logout', session_path(id: 'me'), method: 'delete' %>
                    </li>
                  <% end %>
                </ul>
            </div>
        </div>
    </nav>

    <% if flash[:notice] %>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <div style="font-weight: bold; padding: 10px; border: 2px solid red;"><%= flash[:notice] %></div>
      <hr/>
    <% end %>

    <%= yield %>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>railsbasic</h2>
                <a href="/users/new" class="btn btn-default btn-xl sr-button">Sign Up</a>
                &nbsp;
                &nbsp;
                <a href="/sessions/new" class="btn btn-default btn-xl sr-button">Login</a>
                <p>
      <br/>
      <br/>
      &copy; <%= Time.now.year %>
                </p>
      <a href="https://github.com/andrewarrow/railsbasic">https://github.com/andrewarrow/railsbasic</a>
            </div>
        </div>
    </aside>

  </body>
</html>
