<!DOCTYPE html>
<html>
  <head>
    <title>Railsbasic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>andrewarrow's railsbasic</h1>
    <a href="/">home</a>
    <% if current_user %>
      &nbsp;
      |
      &nbsp;
    <%=link_to 'logout', session_path(id: 'me'), method: 'delete' %>
    <% end %>

<hr/>

    <%= yield %>

    <div style="border-top: 1px solid #cecece; margin: 150px 0 0 0; text-align: center; font-size: 12px;">
      <br/>
      &copy; <%= Time.now.year %>
      <a href="https://higher.team">https://higher.team</a>
    </div>
  </body>
</html>
